doctype
html
	head
		title TDD With Jasmine
		meta(charset="utf-8")
		link(rel="stylesheet" href="jasmine-core/jasmine.css")
		script(src="jasmine-core/jasmine.js")
		script(src="jasmine-core/jasmine-html.js")
		script(src="jasmine-core/boot.js")
		script(src="js/main.js")
		script(src="ProjectSpec.js")
	body
		
