doctype
html
	head
		title TDD With Jasmine
		meta(charset="utf-8")
		link(rel="stylesheet" href="jasmine-core/jasmine.css")
		script(src="jasmine-core/jasmine.js")
		script(src="jasmine-core/jasmine-html.js")
		script(src="jasmine-core/boot.js")
		script(src="actors/_Base.js")
		script(src="actors/Classic.js")
		script(src="actors/Advanced.js")
		script(src="actors/Best.js")
		script(src="Generator.js")
		script(src="ProjectSpec.js")
	body
		
