html, body, h1, h2, h3, p, a, ul, li { margin:0; padding:0;}
html, body {
	width: 100%;
	height: 100%;
	font:12px Helvetica, Tahoma, Trebuchet MS, Arial, _sans;
}

a { text-decoration: none;}
a:hover { color: rebeccapurple;};